/* @media (min-width:768px)  { */
/* Attribute Selectors ------------- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family:'Merriweather', Arial, sans-serif;
  color: darkgrey;
}

header {
  padding: 10px;
}

.t-border {
    padding: 0 1em;
    width: 100%;
    border-top: double 15px black;
  }

header, .code {
  text-align: center;
}

header h2,
header p {
 margin: 10px 0;
}

.code {
  background-color: rgb(34, 43, 53);
  /* margin: -10%; */
  padding: 10px;
}

h2,
h3 {
color: #000;
}

.form-contact {
  /* max-width: 300px; */
  margin: 10px auto 0 auto;
  padding: 10px 20px;
  border-radius: 8px;
}

.title {
  color: #fff;
  margin: 15px;
}

/* h1,
p {
  margin: 0 0 30px 0;
  text-align: center;
} */

/* p {
  width: 90%;
} */

#container {
  margin: 0 auto;
}

#bio {
  height: 200px;
}

label {
  display: block;
  margin-bottom: 8px;
}

input[placeholder],
input[type="tel"],
input[type="street"],
input[type="city"],
input[type="zip"],
textarea,
select {
  border: none;
  font-size: 16px;
  height: auto;
  outline: 0;
  padding: 10px;
  width: 100%;
  background: #e8eeef;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
  margin-bottom: 30px;
}

input[type="checkbox"],
input[type="radio"],
button[type="submit"] {
  background: #52bab3;
  cursor: pointer;
  text-align: center;
}

input[type="checkbox"],
input[type="radio"] {
  font-weight: bold;
  margin: 0 4px 8px 0;
}

#zip {
  max-width: 50%;
}

.t-border-2 {
    padding: 0 1em;
    width: 100%;
    border-top: 3px solid #000;
}




/*DRY CLASS------------- */

.br {
  border-radius: .5em;
}

button {
  cursor: pointer;
  font-style: .875em;
  font-weight: 400;
  color: #fff;
  padding-left: 20px;
  padding-right: 20px;
  text-transform: uppercase;
  height: 60px;
  width: 50%;
  border-radius: 5px;
  border: 1px solid #52bab3;
  text-align: center;
  margin:0 auto;
  display: block;
}

button:hover {
  opacity: .75;
}

/*Combinators------------- */
form>a {
  font-size: .7em;
}

.copyright {
  margin-top: 10px;
  margin-bottom: 0;
  text-align: center;
  font-style: italic;
}

.container-2 label {
  display: inline;
}

/* =================================
  Media query
==================================== */

@media (min-width: 1024px) {

  label {
    display: inline-block;
    width: 50px;
    text-align: right;
  }​

       input[placeholder],
      input[type="text"],
      input[type="email"],
       input[type="tel"],
       input[type="street"],
       input[type="city"],
       input[type="zip"],
       select {
         border: none;
         font-size: 16px;
         height: auto;
         outline: 0;
         padding: 10px;
         width: 80%;
         background: #e8eeef;
         box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
         margin-bottom: 30px;
       }


.block  {
  display: flex;
  flex-direction: column;
}




}
