@media (min-width: 320px) {

	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}

	body {
		font-family: "Merriweather", Arial, sans-serif;
		color: darkgrey;
	}

	.code {
		background-color: rgb(34, 43, 53);
	  /* margin: -10%; */
		padding: 10px;
		width: 119%;
		color: #fff;
		text-align: center;
	}



	h2 {
		width: 120.5%;
		text-align: center;
	}

	.News-p {
		width: 119%;
		text-align: center;
	}

.Contact	{
margin-left: 5%;
}

.block,
.flex-block {
display: flex;
	flex-direction: column;
	margin-right: -6.10%;
	margin-left: 2.99%;
}


	fieldset {
		border: none;
	}

	header {
		padding: 10px;
	}

	.t-border {
		padding: 0 1em;
		width: 117%;
		border-top: double 15px black;
	}

	header,
legend {
		text-align: center;
	}

	header h2,
header p {
		margin: 10px 0;
	}

	.code {
		background-color: rgb(34, 43, 53);
  /* margin: -10%; */
		padding: 10px;
	}

	h2,
h3 {
		color: #000;
	}

	.container br {
  /* max-width: 300px; */
		margin: 10px auto 0 auto;
		padding: 10px 20px;
		border-radius: 8px;
	}

	legend {
		color: #fff;
		margin: 15px;
		font-size: 20px;
	}

/* h1,
p {
  margin: 0 0 30px 0;
  text-align: center;
} */

/* p {
  width: 90%;
} */

	.container {
		margin: 0 auto;
	}

	#bio {
		height: 100px;
	}

	label {
		display: block;
		margin-bottom: 8px;
		color: #000;
	}

	input[placeholder],
input[type="tel"],
input[type="text"],
input[type="city"],
input[type="zip"],
textarea,
select {
		border: none;
		font-size: 16px;
		height: auto;
		outline: 0;
		padding: 10px;
		width: 100%;
		background: #e8eeef;
		box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
		margin-bottom: 30px;
	}

	input[type="checkbox"],
input[type="radio"],
button[type="submit"] {
		background: #52bab3;
		cursor: pointer;
		text-align: center;
	}

	input[type="checkbox"],
input[type="radio"] {
		font-weight: bold;
		margin: 0 4px 8px 0;
		box-sizing: border-box;
		padding: 0;
	}

	#zip {
		max-width: 15%;
	}

	.t-border-2 {
		padding: 0 1em;
		width: 100%;
		border-top: 3px solid #000;
		margin-left: 20px;
	}


.flex	{
margin-left: 20px;
}

/*DRY CLASS------------- */

	.br {
		border-radius: .5em;
	}

	button {
		cursor: pointer;
		font-weight: 400;
		color: #fff;
		padding-left: 20px;
		padding-right: 20px;
		text-transform: uppercase;
		height: 60px;
		width: 100%;
		border-radius: 5px;
		border: 1px solid #52bab3;
		text-align: center;
		margin: 0 auto;
		display: block;
	}

	button:hover {
		opacity: .75;
	}

/*Combinators------------- */
	form>a {
		font-size: .7em;
	}

.select-p	{
color: #000;
}


.Newsletter	{
color: #000;
}

	.copyright {
		margin-top: 10px;
		margin-bottom: 0;
		text-align: center;
		font-style: italic;
	}

	.container-2 label {
		display: inline;
	}
}

/* =================================
  Media query
==================================== */

@media (min-width: 1024px) {

	.code {
		background-color: rgb(34, 43, 53);
	  /* margin: -10%; */
		padding: 10px;
		color: #fff;
		text-align: center;
	}





.Contact	{
margin-left:50px;
}


	h2 {
margin-left: 20%;
	}


	h3 {
		color: #000;
	}

	.news-p {
		display: flex;
		flex-direction: column;
	}

	fieldset {
		border: none;
	}

	label {
		display: inline-block;
		color: #000;
		width: 150px;
		text-align: center;
	}​

	input[placeholder],
      input[type="text"],
      input[type="email"],
       input[type="tel"],
       input[type="street"],
       input[type="city"],
       input[type="zip"],
       select {
		border: none;
		font-size: 16px;
		height: auto;
		outline: 0;
		padding: 10px;
		width: 80%;
		background: #e8eeef;
		box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
		margin-bottom: 30px;
	}

	.block,
  .flex-block {
		display: flex;
		flex-direction: row;
		margin-right: 30px;
	}

	.flex-block {
		width: 88%;
		border-radius: 5px;
	}

	.container,
.container-2 {
		width: 80%;
		margin: 50px auto;
	}

	.flex {
		display: flex;
		flex-direction: column;
		margin: 0 auto;
	}

	.t-border {
		padding: 0 1em;
		width: 100%;
		margin: 50px;
		border-top: double 15px black;
	}

	.select-p {
		margin: 20px;
	}


	.Newsletter {
		margin-bottom: 50px;
	}


label.checkbox {
	font-weight: 300;
	display: inline;
	}

	label.radio {
		font-weight: 300;
		display: inline;
		}


}
